pipeline/Pipeline 3.json
{
	"name": "Pipeline 3",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Excel2",
						"type": "DatasetReference",
						"parameters": {
							"sheetIndex": {
								"value": "@pipeline().parameters.sheetIndex",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set dataset name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "datasetname",
					"value": {
						"value": "@activity('Lookup1').output.value[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set reporting name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "reportname",
					"value": {
						"value": "@activity('Lookup1').output.value[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set dataset name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(empty(variables('reportname')), empty(variables('datasetname')))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sheetIndex": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"datasetname": {
				"type": "String"
			},
			"reportname": {
				"type": "String"
			}
		},
		"annotations": []
	}
}