pipeline/Pipeline 3.json
{
	"name": "Pipeline 3",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.totalsheet",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"dataset": {
									"referenceName": "Excel2",
									"type": "DatasetReference",
									"parameters": {
										"sheetIndex": {
											"value": "@pipeline().parameters.sheetIndex",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										},
										"containername": {
											"value": "@pipeline().parameters.containername",
											"type": "Expression"
										},
										"exceldirectory": {
											"value": "@pipeline().parameters.exceldirectory",
											"type": "Expression"
										},
										"rangeofdatasetreportinfo": {
											"value": "@pipeline().parameters.rangeofdatasetreportnameinfo",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set dataset name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "datasetname",
								"value": {
									"value": "@string(activity('Lookup1').output.value[0].Prop_0)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set reporting name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(not(empty(variables('reportname'))), not(empty(variables('datasetname'))))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Data flow1",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "Dataflow4",
												"type": "DataFlowReference",
												"parameters": {
													"csvfilename": {
														"value": "'@{concat(variables('datasetname'), variables('reportname'), string(pipeline().parameters.sheetIndex), '.csv')}'",
														"type": "Expression"
													},
													"containername": {
														"value": "'@{pipeline().parameters.containername}'",
														"type": "Expression"
													},
													"csvdirectory": {
														"value": "'@{pipeline().parameters.csvdirectory}'",
														"type": "Expression"
													},
													"sheetindex": {
														"value": "@pipeline().parameters.sheetIndex",
														"type": "Expression"
													},
													"datasetname": {
														"value": "'@{variables('datasetname')}'",
														"type": "Expression"
													},
													"reportname": {
														"value": "'@{variables('reportname')}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source7": {
														"sheetIndex": {
															"value": "@pipeline().parameters.sheetIndex",
															"type": "Expression"
														},
														"filename": {
															"value": "@pipeline().parameters.filename",
															"type": "Expression"
														},
														"containername": {
															"value": "@pipeline().parameters.containername",
															"type": "Expression"
														},
														"exceldirectory": {
															"value": "@pipeline().parameters.exceldirectory",
															"type": "Expression"
														},
														"rangeofdataset": {
															"value": "@pipeline().parameters.rangeofdataset",
															"type": "Expression"
														}
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						},
						{
							"name": "Set reporting name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set dataset name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "reportname",
								"value": {
									"value": "@string(activity('Lookup1').output.value[1].Prop_0)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 3,
		"parameters": {
			"totalsheet": {
				"type": "array",
				"defaultValue": "[0, 1, "
			},
			"filename": {
				"type": "string",
				"defaultValue": "test2.xlsx"
			},
			"containername": {
				"type": "string",
				"defaultValue": "hdofilesystem200"
			},
			"exceldirectory": {
				"type": "string",
				"defaultValue": "Excel"
			},
			"csvdirectory": {
				"type": "string",
				"defaultValue": "CSV"
			},
			"parquetdirectory": {
				"type": "string",
				"defaultValue": "Parquet"
			},
			"rangeofdatasetreportnameinfo": {
				"type": "string",
				"defaultValue": "B1:B3"
			},
			"rangeofdataset": {
				"type": "string",
				"defaultValue": "A5"
			}
		},
		"variables": {
			"datasetname": {
				"type": "String"
			},
			"reportname": {
				"type": "String"
			}
		},
		"annotations": []
	}
}